* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  top: 0;
  left: 0;
}
body,
html {
  background-color: #000000;
  scroll-behavior: smooth;
  transition: 0.8s ease-in-out;
}
h1 {
  font-family: monospace;
  color: aliceblue;
  margin-left: 20px;
}
main {
  margin-top: 20%;
}
#body-primary {
  margin: 20px;
}
#body-primary .unico {
  font-size: 3rem;
  margin-top: 40px;
  font-weight: 600;
  font-family: monospace;
  color: #ffffff;
}

.dest {
  font-size: 1rem;
  width: 250px;
  color: #ffffff;
  margin-top: 40px;
}
#body-primary .left {
  margin-left: 30px;
}

.btn-especial a {
  padding: 10px 90px;
  background: #ffffff;
  text-decoration: none;
  color: #000;
  font-family: monospace;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 80%;
}
.btn-especial img {
  width: 30px;
  margin-left: 20px;
}
.btn-especial {
  margin-top: 40px;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-top: 70px;
}
.contact img {
  width: 30px;
}
.contact span {
  padding: 5px 20px;
  border: 1px solid #ffffff;
  align-items: center;
  display: flex;
  border-radius: 20px;
  margin: 5px;
}
.contact p {
  color: #ffffff;
}
.carrossel {
  width: 300px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.central {
  display: flex;
  align-items: center;
  justify-content: center;
}
.central p {
  color: #ffffff;
  font-size: 1rem;
  font-family: monospace;
}
#cards {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
}
#me {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-me .a {
  color: #ffffff;
  font-family: monospace;
  font-size: 1rem;
}
#me img {
  width: 200px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #00000067;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.24);
}
#me .b {
  color: #ffffff;
  width: 200px;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.055);
}
.container-me {
  margin-top: 20%;
}
.container-cubo {
  padding: 25px 0;
  margin-top: 20%;
  width: 300px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.301);
}
.container-cubo a {
  padding: 15px 0;
  width: 200px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #000;
  font-family: monospace;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
}
.container-cubo a {
  animation: animacao 2s ease-in-out infinite;
}

@keyframes animacao {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.front-1 {
  color: #ffffff;
  font-size: 2rem;
  font-family: monospace;
}
.descr-front {
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
.footer {
  margin-top: 20%;
  background-color: #222;
  color: #fff;
  padding: 20px 10px;
  text-align: center;
  font-family: sans-serif;
}

.footer a {
  color: #0af;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .copyright {
  font-size: 0.9em;
  color: #aaa;
}
